html,body{
  background: linear-gradient(
    90deg,
    rgb(64, 56, 102) 12%,
    rgba(64, 56, 102) 84%
  );
  background-blend-mode: normal;
}

/** ProductCard Begin **/
.image-container {
  position: relative;
}

.serie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h5.card-title {
  font-size: 11px;
  position: relative;
  font-weight: bold;
  text-align: center;
  color:rgba(64, 56, 102);
}

.card-text {
  font-size: 10px;
  color: #b512d9;
}

/** ProductCard End **/

.search-bar {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;

}

.search-bar input {
  padding: 12px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/** SearchBar End **/


/**PARRAFO*/
p {
  color: #eddada;
  text-align: center;
  font-weight: bold;
}

.text-description {
  color: #eddada;
  text-align: justify;
  margin-left: 30px;
  margin-right: 150px;
}

.titulo-inicio {
  color: #eddada;
  text-align: center;
  margin-top: 120px;
}

/**TITULO*/
.title-h1 {
  color: #d3bad7;
  text-shadow: 2px 2px 2px rgba(62, 9, 89, 0.83);
  text-align: center;
  margin-top: 60px;
}

.title-h2 {
  color: rgb(248, 226, 203);
  text-shadow: 2px 2px 2px rgba(189, 123, 53, 0.6);
  text-align: center;
}

/**LISTA*/
li {
  color: rgb(244, 209, 154);
  text-align: center;
  list-style-type: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: -30px;
}

/**Cast**/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  font-size: 12px;
}

.cast-image{
  border-radius: 10px;
}

.box {
  margin: 10px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0, 2);
  border-radius: 10px;
  cursor:default;
  transition: all 400ms ease;
}

.box:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 4);
  transform: translateY(-3%);
}

.description-cast{
  margin-top: 8px;
}

/**tempodadas**/
.season {
  cursor: pointer;
  font-weight: bold;
}

.expanded {
  color: rgb(229, 169, 129);
}

.episodes-list {
  display: none;
}

.expanded + .episodes-list {
  display: block;
}

/* Estilos adicionales para el contenedor principal */

.serie-info {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.serie-status {
  margin-left: -365px;
  margin-bottom: 1em;
  color: #b512d9;
  font-size: 14px;
}

.serie-language {
  margin-left: -365px;
  margin-bottom: 1em;
  color: #b512d9;
  font-size: 14px;
}

.seasons-container,
.cast-container {
  margin-bottom: 2em;
}

/* Estilos para cada contenedor */
.seasons-container,
.cast-container {
  background: linear-gradient(
    90deg,
    rgb(64, 56, 102) 12%,
    rgba(64, 56, 102) 84%
  );
  background-blend-mode: normal;
  padding: 1em;
}

.serie-pelicula-image {
  float: left;
  border-radius: 10px;
  margin-right: 1em;
  margin-left: 150px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0, 2);
}

.serie-pelicula-image:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 4);
}

.header-container {
  background-color: #6f5286;
  width: 100%;
}

.nav-link-inicio {
  color: #ffffff; /* Color del texto */
  background-color: #6f325e; 
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.nav-item{
  margin-right: 3em;
}