html,body{
  background: linear-gradient(
    90deg,
    rgb(64, 56, 102) 12%,
    rgba(64, 56, 102) 84%
  );
  background-blend-mode: normal;
}

/** ProductCard Begin **/
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.serie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 12px;
  text-align: center;
  position: relative;
  font-weight: bold;
}

.card-text {
  font-size: 12px;
  text-align: center;
}

/** ProductCard End **/

.search-bar {
  width: 100%;
  text-align: center;
  margin-top: 15em;

}

.search-bar input {
  
  padding: 12px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/** SearchBar End **/


/**PARRAFO*/
p {
  color: #eddada;
  text-align: center;
}

/**TITULO*/
.title-h1 {
  color: #d3bad7;
  text-shadow: 2px 2px 2px rgba(62, 9, 89, 0.83);
  text-align: center;
}

.title-h2 {
  color: rgb(248, 226, 203);
  text-shadow: 2px 2px 2px rgba(189, 123, 53, 0.6);
  text-align: center;
}

/**LISTA*/
li {
  color: rgb(244, 209, 154);
  text-align: center;
  list-style-type: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/**Cast**/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.box {
  margin: 10px;
}

/**tempodadas**/
.season {
  cursor: pointer;
  font-weight: bold;
}

.expanded {
  color: rgb(229, 169, 129);
}

.episodes-list {
  display: none;
}

.expanded + .episodes-list {
  display: block;
}